{
  "openapi": "3.0.3",
  "info": {
    "title": "普渡云开放接口 - 广告播放",
    "description": "普渡机器人云开放平台广告播放相关接口，支持广告的增删改查及场景获取。适用机型：Kettybot、KettybotPro、Bellabot、BellabotPro",
    "version": "1.0.0",
    "contact": {
      "name": "普渡开放平台",
      "url": "https://open.pudutech.com"
    }
  },
  "servers": [
    {
      "url": "https://open.pudutech.com",
      "description": "普渡开放平台"
    }
  ],
  "tags": [
    {
      "name": "广告播放",
      "description": "机器人广告播放管理接口"
    }
  ],
  "paths": {
    "/biz-service/openPlatform/api/v1/gg/list": {
      "post": {
        "tags": ["广告播放"],
        "summary": "获取广告列表",
        "description": "根据门店ID获取广告列表",
        "operationId": "getAdList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["shop_id", "sn"],
                "properties": {
                  "shop_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "门店ID"
                  },
                  "sn": {
                    "type": "string",
                    "description": "机器SN号"
                  },
                  "kind": {
                    "type": "integer",
                    "format": "int32",
                    "description": "广告种类：1-普通场景，2-高级场景，3-小屏广告",
                    "enum": [1, 2, 3]
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "单页条数"
                  },
                  "offset": {
                    "type": "integer",
                    "format": "int32",
                    "description": "查询偏移量，offset = page * limit"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功返回广告列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "description": "此次请求的唯一ID"
                    },
                    "message": {
                      "type": "string",
                      "description": "提示信息，SUCCESS表示成功"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "总数"
                        },
                        "items": {
                          "type": "array",
                          "description": "广告列表",
                          "items": {
                            "$ref": "#/components/schemas/AdModel"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/biz-service/openPlatform/api/v1/gg/get": {
      "get": {
        "tags": ["广告播放"],
        "summary": "获取广告详情",
        "description": "获取单条广告详情",
        "operationId": "getAdDetail",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "广告ID"
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "门店ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回广告详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "description": "此次请求的唯一ID"
                    },
                    "message": {
                      "type": "string",
                      "description": "提示信息"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdModel"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/biz-service/openPlatform/api/v1/gg/create": {
      "post": {
        "tags": ["广告播放"],
        "summary": "新增广告",
        "description": "新增广告配置",
        "operationId": "createAd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "shop_id", "start_time", "end_time"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "广告名称（2-255字符）",
                    "minLength": 2,
                    "maxLength": 255
                  },
                  "shop_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "门店ID（>0）"
                  },
                  "start_time": {
                    "type": "integer",
                    "format": "int64",
                    "description": "开始时间戳（秒）"
                  },
                  "end_time": {
                    "type": "integer",
                    "format": "int64",
                    "description": "结束时间戳（秒）"
                  },
                  "show_type": {
                    "type": "integer",
                    "format": "int32",
                    "description": "显示类型：1-单屏，3-三屏",
                    "enum": [1, 3]
                  },
                  "ad_list": {
                    "type": "array",
                    "description": "广告素材列表",
                    "items": {
                      "$ref": "#/components/schemas/AdItem"
                    }
                  },
                  "second": {
                    "type": "integer",
                    "format": "int32",
                    "description": "轮播间隔秒，1-60"
                  },
                  "kind": {
                    "type": "integer",
                    "format": "int32",
                    "description": "广告种类：1-普通场景，2-高级场景，3-小屏广告",
                    "enum": [1, 2, 3]
                  },
                  "scene_ids": {
                    "type": "array",
                    "description": "场景ID列表",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建广告",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/biz-service/openPlatform/api/v1/gg/update": {
      "post": {
        "tags": ["广告播放"],
        "summary": "更新广告",
        "description": "更新广告配置",
        "operationId": "updateAd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "广告ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "广告名称"
                  },
                  "start_time": {
                    "type": "integer",
                    "format": "int64",
                    "description": "开始时间戳（>0则校验）"
                  },
                  "end_time": {
                    "type": "integer",
                    "format": "int64",
                    "description": "结束时间戳（>0则校验）"
                  },
                  "show_type": {
                    "type": "integer",
                    "format": "int32",
                    "description": "显示类型：1-单屏，3-三屏",
                    "enum": [1, 3]
                  },
                  "ad_list": {
                    "type": "array",
                    "description": "广告素材列表",
                    "items": {
                      "$ref": "#/components/schemas/AdItem"
                    }
                  },
                  "second": {
                    "type": "integer",
                    "format": "int32",
                    "description": "轮播间隔秒，1-60"
                  },
                  "kind": {
                    "type": "integer",
                    "format": "int32",
                    "description": "广告种类：1-普通场景，2-高级场景，3-小屏广告",
                    "enum": [1, 2, 3]
                  },
                  "scene_ids": {
                    "type": "array",
                    "description": "场景ID列表",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功更新广告",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/biz-service/openPlatform/api/v1/gg/delete": {
      "post": {
        "tags": ["广告播放"],
        "summary": "删除广告",
        "description": "删除广告",
        "operationId": "deleteAd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "shop_id"],
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "广告ID"
                  },
                  "shop_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "门店ID（>0）"
                  }
                }
              },
              "example": {
                "shop_id": 352400007,
                "id": "63358973"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功删除广告",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "description": "此次请求的唯一ID"
                    },
                    "message": {
                      "type": "string",
                      "description": "提示信息"
                    }
                  }
                },
                "example": {
                  "trace_id": "YourApiAppKey_bd969310-1208-40c3-9495-e21ebd4ac7db",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/biz-service/openPlatform/api/v1/gg/scenesMenu/list": {
      "post": {
        "tags": ["广告播放"],
        "summary": "获取广告场景",
        "description": "获取广告场景列表（按菜单模式组织）",
        "operationId": "getAdScenes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["kind"],
                "properties": {
                  "lang": {
                    "type": "string",
                    "description": "语言，默认中文（支持语种查看附录）"
                  },
                  "kind": {
                    "type": "integer",
                    "format": "int32",
                    "description": "广告种类：1-普通场景广告，2-高级场景广告，3-小屏广告",
                    "enum": [1, 2, 3]
                  },
                  "product_name": {
                    "type": "string",
                    "description": "产品名称，详见FAQ"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功返回广告场景列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "description": "此次请求的唯一ID"
                    },
                    "message": {
                      "type": "string",
                      "description": "提示信息"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "scenes_list": {
                          "type": "array",
                          "description": "场景列表（按菜单模式组织）",
                          "items": {
                            "$ref": "#/components/schemas/SceneMenu"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "properties": {
          "trace_id": {
            "type": "string",
            "description": "此次请求的唯一ID"
          },
          "message": {
            "type": "string",
            "description": "提示信息"
          },
          "data": {
            "description": "返回数据"
          }
        }
      },
      "AdModel": {
        "type": "object",
        "description": "广告模型",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "广告ID"
          },
          "name": {
            "type": "string",
            "description": "广告名称"
          },
          "shop_id": {
            "type": "integer",
            "format": "int32",
            "description": "门店ID"
          },
          "start_time": {
            "type": "integer",
            "format": "int32",
            "description": "生效开始时间戳（秒）"
          },
          "end_time": {
            "type": "integer",
            "format": "int32",
            "description": "生效结束时间戳（秒）"
          },
          "second": {
            "type": "integer",
            "format": "int32",
            "description": "轮播间隔秒，1-60"
          },
          "show_type": {
            "type": "integer",
            "format": "int32",
            "description": "显示类型：1-单屏，3-三屏"
          },
          "kind": {
            "type": "integer",
            "format": "int32",
            "description": "广告种类：1-普通场景，2-高级场景，3-小屏广告"
          },
          "ad_list": {
            "type": "array",
            "description": "广告素材列表",
            "items": {
              "$ref": "#/components/schemas/AdItem"
            }
          },
          "scene_ids": {
            "type": "array",
            "description": "关联场景ID列表",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AdItem": {
        "type": "object",
        "description": "广告素材项",
        "properties": {
          "url": {
            "type": "string",
            "description": "素材URL地址"
          },
          "type": {
            "type": "string",
            "description": "素材类型（如image/video）"
          },
          "duration": {
            "type": "integer",
            "format": "int32",
            "description": "播放时长（秒）"
          }
        }
      },
      "SceneMenu": {
        "type": "object",
        "description": "广告场景菜单项",
        "properties": {
          "name": {
            "type": "string",
            "description": "场景分类名称"
          },
          "scenes": {
            "type": "array",
            "description": "场景列表",
            "items": {
              "$ref": "#/components/schemas/SceneItem"
            }
          }
        }
      },
      "SceneItem": {
        "type": "object",
        "description": "场景项",
        "properties": {
          "id": {
            "type": "string",
            "description": "场景ID"
          },
          "name": {
            "type": "string",
            "description": "场景名称"
          },
          "icon": {
            "type": "string",
            "description": "场景图标"
          }
        }
      }
    }
  }
}
